
    <div class="row" *ngIf="isActive" > 
        <div class="col-sm-12 col-md-6 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h4 class="font-weight-normal text-center">Our Favorite Beer Today</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4 text-center">
                            <img class="fav-beer-image" src="https://images.punkapi.com/v2/234.png" />
                        </div>
                        <div class="col-8 d-flex flex-column">
                            <h5 class="card-title">Neon Overlord</h5>
                            <p class="card-text fav-beer-description">The Overlord of mango and chili IPA’s packs a fruity punch and then some. Pours a slightly hazy orange. A tropical fruit assault on the nose, with mango, pineapple, apricots and citrus. Hints of chili and sweet malts follow. Fruit dissipates to a chili kick, not hot but definitely there, followed by a long bitter finish. All hail to the hot tempered sweet toothed Lord.</p>
                            <div class="mt-auto mx-auto text-center">
                                <h2 class="font-weight-normal"></h2>
                                    <small class='text-muted' style='text-decoration: line-through;'>$6.4</small>
                                    <small class='text-muted'> / </small><span>$3.2</span>
                                <button type="button" class="btn btn-outline-info btn-lg mb-2">Add to the Wish List</button>
                                <button type="button" class="btn btn-outline-primary btn-lg mb-2">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
